<div class="panel panel-default">
  <div class="panel-body">

    <form
      id="document-edit"
      (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">

        <div class="col-sm-12 form-group">
          <label for="name">Document title</label>
          <input
            type="text"
            id="name"
            name="documentTitle"
            class="form-control"
            size="120"
            max="120"
            [ngModel]="originalDocument?.name"
          required
          >
        </div>

        <div class="col-sm-12 form-group">
          <label for="description">Document description</label>
          <input
            type="text"
            id="description"
            name="docDescription"
            class="form-control"
            size="120"
            max="255"
          [ngModel]="originalDocument?.description">
        </div>

        <div class="col-sm-12 form-group">
          <label for="documentUrl">Document URL</label>
          <input
            type="text"
            id="documentUrl"
            name="documentUrl"
            class="form-control"
            size="150"
            max="255"
          required
          [ngModel]="originalDocument?.url"
          #url="ngModel">
        </div>
      </div>
      <div><span class="help-block" *ngIf="!url.valid && url.touched">The Document title and URL are required fields</span></div><br>

      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit"
                  [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add'}}</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()"
                  >Cancer</button>
        </div>
      </div>

    </form>

  </div>
</div>

